// Color Pallete
$color-primary   : #E1A56B;
$color-secondary : #44465F;
$color-tertiary  : #537987;
$color-danger    : #FF0000;
$color-success   : #949232;
$color-warning   : #FFA500;
$color-info      : #00FFFF;
$color-third     : #B12930;
$color-white     : #ffffff;
$color-dark      : #000000;
