// Import base variables
@import "../base/reset";
@import "../base/colors";
@import "../base/typography";

// .accordion-button {
//   background-color: #e1a56b !important;
//   color: #fff;

//   &:focus {
//     box-shadow: none;
//   }

//   &:not(.collapsed) {
//     background-color: #44465f !important;
//     color: #fff;
//     font-weight: bold;
//   }

//   &::after {
//     color: #e1a56b !important;
//     background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
//   }
// }

$total-pertanyaan: 5;

@for $i from 1 through $total-pertanyaan {
  .accordion-item:nth-child(#{$i}) {
    h2.accordion-header {
      button.accordion-button {
        background-color: darken(#e1a56b, $i * 5%);
        color: #fff;
        &::after {
          color: darken(#e1a56b, $i * 5%);
          background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .accordion-section {
    margin-top: 20px;

    .accordion-section-title{
      font-size: 1.5rem;
      text-align: left !important;
    }
  }
}