@import "https://fonts.googleapis.com/css2?family=Croissant+One&display=swap";
@import "https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Caveat&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 16px;
  font-weight: weight(regular);
  color: #44465F;
}

textarea {
  width: 100%;
  padding: 10px 10px;
  border-radius: 10px;
  border: solid 2px #E1A56B;
  font-size: 14px;
  font-weight: 400;
  color: #44465F;
  transition: all 0.3s ease-in-out;
  resize: none;
}
textarea:focus {
  border: solid 2px #E1A56B;
}

[data-aos] {
  transition: opacity 0.5s ease, transform 0.5s ease;
  will-change: transform;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

#testimonial {
  padding: 100px;
  background-color: #44465F;
}
#testimonial .carousel-control-prev,
#testimonial .carousel-control-next {
  width: 50px;
  height: 50px;
  background-color: #E1A56B;
  border-radius: 50%;
  border: none;
  outline: none !important;
  margin-top: 120px !important;
}
#testimonial .carousel-item:nth-child(1) .testimonial-item {
  text-align: center;
  margin-bottom: 4rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 10px;
  background-color: #537987;
}
#testimonial .carousel-item:nth-child(1) .testimonial-item img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}
#testimonial .carousel-item:nth-child(1) .testimonial-item h3 {
  font-size: 24px;
  margin-bottom: 1rem;
  color: #E1A56B;
}
#testimonial .carousel-item:nth-child(1) .testimonial-item .rating {
  font-size: 24px;
  margin-bottom: 1rem;
}
#testimonial .carousel-item:nth-child(1) .testimonial-item p {
  font-size: 16px;
  margin-bottom: 1rem;
  color: #ffffff;
}
#testimonial .carousel-item:nth-child(2) .testimonial-item {
  text-align: center;
  margin-bottom: 4rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
  border-radius: 10px;
  background-color: #537987;
}
#testimonial .carousel-item:nth-child(2) .testimonial-item img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}
#testimonial .carousel-item:nth-child(2) .testimonial-item h3 {
  font-size: 24px;
  margin-bottom: 1rem;
  color: #E1A56B;
}
#testimonial .carousel-item:nth-child(2) .testimonial-item .rating {
  font-size: 24px;
  margin-bottom: 1rem;
}
#testimonial .carousel-item:nth-child(2) .testimonial-item p {
  font-size: 16px;
  margin-bottom: 1rem;
  color: #ffffff;
}
#testimonial .testimonial-title {
  text-align: center;
  margin-bottom: 3rem;
}
#testimonial .testimonial-title h3 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #E1A56B;
  font-family: "Croissant One", cursive;
}
#testimonial .testimonial-title p {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 20px;
}
#testimonial .testimonial-button {
  background-color: #E1A56B;
  border: 2px solid #E1A56B;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#testimonial .testimonial-button:hover {
  background-color: #ffffff;
  color: #E1A56B;
  border: 2px solid #E1A56B;
}
#testimonial .testimonial-button:hover {
  background-color: #44465F;
  border: solid 2px #E1A56B;
  color: #ffffff;
}

.ulasan {
  background-color: #f8f9fa;
  padding: 50px 0;
}
.ulasan .card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
.ulasan .card .card-body {
  padding: 20px;
}
.ulasan .card .card-body .avatar-image {
  width: 100%;
  max-width: 60px;
  border-radius: 50%;
}
.ulasan .card .card-body .text-secondary {
  font-size: 0.9rem;
}
.ulasan .card .card-body .float-right {
  float: right;
}
.ulasan .card .card-body .fa-star,
.ulasan .card .card-body .fa-star-half {
  color: #ffc107 !important;
}
.ulasan .card .card-body p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.ulasan-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #E1A56B;
  font-family: "Croissant One", cursive;
}
.ulasan .pagination {
  justify-content: center;
}
.ulasan .pagination .page-item.active .page-link {
  background-color: #E1A56B;
  border-color: #E1A56B;
  color: #fff;
}
.ulasan .pagination .page-item.disabled .page-link {
  color: #44465F;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #fff;
}
.ulasan .pagination .page-item.disabled .page-link:hover {
  background-color: #af9898;
  border-color: #af9898;
}
.ulasan .pagination .page-item.disabled .page-link:focus {
  box-shadow: none;
}
.ulasan .pagination .page-item .page-link {
  color: #44465F;
}
.ulasan .pagination .page-item .page-link:hover {
  background-color: #E1A56B;
  border-color: #E1A56B;
  color: #44465F;
}
.ulasan-modal-button {
  background-color: #E1A56B;
  border: 2px solid #E1A56B;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.ulasan-modal-button:hover {
  background-color: #ffffff;
  color: #E1A56B;
  border: 2px solid #E1A56B;
}
.ulasan-modal-button:hover {
  background-color: #ffffff;
  border: solid 2px #E1A56B;
  color: #E1A56B;
}

@media (max-width: 768px) {
  .col-md-2 {
    text-align: center;
  }
  .col-md-2 img {
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=testimonial.css.map */
